<p><strong>To learn more about MUM, please preview our website at:</strong> <%= link_to 'https://www.MACRAMonitor.com', 'https://www.MACRAMonitor.com', {:target => '_new'} %></p>
<p>Meaningful Use Monitor - &copy;C3Partners 2018</p>