<% form_tag :action => 'reset_password' do %>

<h2>Reset My Password</h2>

	<% if flash[:notice] -%>
	<p><%= flash[:notice] %></p>
	<% end -%>
	<p>If you have forgotten your password, we can reset it for you.</p>
	<p>Please enter your E-mail address.  Your new password will be sent to you via E-mail.  You can change it after you log back in.</p>

        <label>E-mail Address</label><%= text_field_tag :email_address, params[:email_address] %>
        <%= submit_tag "Reset My Password", :class => "button"  %>
		&nbsp;OR <%= link_to "Cancel", :controller => "login", :action=> "index"%>
        <% end %>